body {
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    margin: 0;
    flex-direction: column;
}

html, body {
    height: 100%;
}

.wrapper {
    padding: 24px;
    box-sizing: border-box;
}

.head {
    display: flex;
    font-size: 20px;
    align-items: center;
    text-align: center;
    position: relative;
}

a {
    flex: 1;
    text-transform: capitalize;
}

 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48;
     width: 44px;
     height: 44px;
     border: 1px solid #F1F1F5;
     background: transparent;
     border-radius: 100%;
     position: absolute;
     left: 0;
 }

.card {
    height: 80px;
    display: flex;
    gap: 16px;
    padding: 16px 24px;
    box-sizing: border-box;
    align-items: center;
}

.amount {
    display: flex;
    gap: 16px;
    align-items: center;
}

.minus {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-image: url("img/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F1F1F5;
    border: none;
}

.plus {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-image: url("img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #23AA49;
    border: none;
}

.remove {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-image: url("img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #c72424;
    transform: rotate(45deg);
    border: none;
}

.info {
    flex: 1;
}

.info p:nth-child(1) {
    color: #06161C;
    margin: 4px;
}

.info p:nth-child(2) {
    color: #FF324B;
    margin: 4px;
}

.but {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;
    display: grid;
    justify-content: center;
}

.checkout {
    border: none;
    outline: rgba(255, 100, 64, 0.50);
    background-color: #FF6440;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 116px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
}

.relate {
    position: relative;
    padding-bottom: 100px;
    flex: 1;
}

.checkout[disabled] {
    background-color: #929292;
}
